$main-app-text-color: #da961afc;
$main-app-background-color: #3f4144;
$anchor-color: rgb(60, 60, 60);
$anchor-hover: black;
$light-border-color: rgb(223, 223, 223);
$trip-card-cover-text: #ffffff42;
$trip-card-cover-text-hover: #fffffff0;
$link-color-chocolate: chocolate; 
$link-color-blue: rgb(30, 126, 210); 
$dark-background: #313231;
$app-auth-text: #96bd3c;
$app-auth-text-hover: #1d2326;
$main-background-container: rgba(0, 0, 0, 0.39);
$main-background-container-border: #303642;
$no-trips-btn-background: #6b6b6b;
$nav-tabs-background: #dadada;
$alert-red: red;
$trip-border-color: #3f4144;

$auth-border: rgba(46, 46, 46, 0.495);