$light-box-shadow: 0px 10px 35px -13px rgba(63, 63, 63, 0.75);
$dark-box-shadow: 0px 10px 100px -13px rgba(0,0,0,0.75);
$auth-container-shadow: 0px 10px 40px 7px rgba(124, 127, 121, 0.94);
$add-bottom-margin: 20px;