.angular-google-map-container {
    width: 33%;
    height: 400px;
}
.angular-google-map {
    width: 250%;
}
.dropdown-menu{
    max-height: 270px;
    overflow-y: auto; 
}
.trip {
    position: relative;
}
.delete_btn {
    position: absolute;
    right: 30px;
    top: 5px;
}