<div class="container-fluid" ng-controller="NavCtrl">
  <div class="row">
    <div class="col-sm-3 col-lg-2" ng-show="navbar">
      <nav class="navbar navbar-inverse navbar-fixed-side">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" ng-href="#!/trip/create">Weekend Send Train</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a ng-href="#!/trip/create">Create</a>
              </li>
              <li>
                <a ng-href="#!/trips">Trips</a>
              </li>
              <li>
                <a ng-href="#!/profile">Profile</a>
              </li>
              <li>
                <a ng-click="logoutUser()">Logout</a>
              </li>
            </ul>
            <img src="../img/send-train-logo.png" alt="App Logo">
          </div>
        </div>
      </nav>
    </div>
    <div ng-view>
      <!-- APP CONTENT LOADS IN HERE -->
    </div>
  </div>
</div>