<div class="container-fluid" ng-controller="NavCtrl">
  <div class="row">
    <div class="col-sm-3 col-lg-2" ng-show="navbar">
      <nav class="navbar navbar-inverse navbar-fixed-side">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" ng-href="#!/trip/create">Weekend Send Train</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a ng-href="#!/trip/create">Create</a>
              </li>
              <li>
                <a ng-href="#!/trips">Trips</a>
              </li>
              <li ng-if="userAutheticatedWithGoogle">
                <a ng-href="#!/profile">Profile</a>
              </li>
              <li>
                <a ng-click="logoutUser()">Logout</a>
              </li>
            </ul>
            <img src="../img/send-train-logo.png" alt="App Logo">
          </div>
        </div>

        <div class="col-md-12 text-center" ng-controller="ProfileCtrl">
          <img id="user_profile_pic" class="add_container_shadow" ng-src="{{user.picture}}" alt="User Picture">
          <h4 id="user_name_heading">Welcome, {{user.full_name}}</h4>
          <h5>{{user.email}}</h5>          
        </div>
      </nav>

    </div>
    <div ng-view>
      <!-- APP CONTENT LOADS IN HERE -->
    </div>
  </div>
</div>