<div class="col-sm-3 col-lg-2">

    <div id="profile_container" class="container background_container add_container_shadow">
        <div class="col-md-4">
            <img id="user_profile_pic" class="add_container_shadow" ng-src="{{user.picture}}" alt="User Picture">
        </div>
        <div class="col-md-6 text-center">
            <h1 id="user_name_heading">{{user.full_name}}</h1>
            <p>{{user.email}}</p>
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Route Preferences
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="pref in user_prefs">
                        <a>{{pref.type}}</a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="#">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>