<div class="col-sm-3 col-lg-2">
    <div id="profile_container" class="container background_container add_container_shadow">
        <div class="col-md-4">
            <img id="user_profile_pic" class="add_container_shadow" ng-src="{{user.picture}}" alt="User Picture">
        </div>
        <div class="col-md-6 text-center">
            <h1>{{userProfile.full_name}}</h1>
            <h4>{{location}}</h4>
            <p>{{userProfile.email}}</p>
            <h3><a id="MP_url" ng-href="{{MPUrl}}" target="_blank">View on Mountain Projects</a></h3>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>