<div class="col-sm-3 col-lg-2">

    <div class="container background_container add_container_shadow">
        <div class="col-md-4">
            <img id="user_profile_pic" ng-src="{{user.picture}}" alt="User Picture">
        </div>
        <div class="col-md-4">
            <h1>{{user.full_name}}</h1>  
            <p>{{user.email}}</p>
        </div>

        <div class="col-md-4">
            <ul>
                <li>{{user.route_preferences}}</li>
                <li>{{user.route_preferences}}</li>
                <li>{{user.route_preferences}}</li>
                <li>{{user.route_preferences}}</li>
            </ul>
            <button class="btn btn-default">Edit Route Preferences</button>
        </div>
    </div>

</div>