<div class="container-fluid">
        <h1>Create a Trip</h1>
    
        <div class='col-md-4'>
            <input type="text" placeholder="Search" ng-model="addressSearch">
            <button class='btn btn-default' ng-click="geocode(addressSearch)">Search</button>
    
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    Routes
                    <span class="caret"></span>
                </button>
                <ul ng-show="routes.length" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="route in routes" role="menuitem">
                        <a ng-click="saveToRouteList(route)">{{route.name}} {{route.rating}}</a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="col-md-4">
            <h1 class="areaHeading" ng-if="!updateClimbingAreaHeading">{{climbingAreaHeadingPageLoad}}</h1>
            <h1 class="areaHeading" ng-if="updateClimbingAreaHeading">{{updateClimbingAreaHeading}}</h1>
            <div ng-show="routesToSave.length">
                <input type="text" placeholder="Trip Name" ng-model="trip.id">
                <input type="text" placeholder="Trip Description" ng-model="trip.description">
                <input type="text" placeholder="Trip Date" ng-model="trip.date">
                <h4>Your Trip Routes:</h4>
                <ul>
                    <li ng-repeat="route in routesToSave" ng-model="routes">
                        <a href="">{{route.name}} {{route.rating}}</a>
                        <button class='btn btn-danger btn-sm' ng-click="removeRouteFromSaveList($index)">X</button>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="createTrip(trip, routesToSave)">Save</button>
            </div>
        </div>
    
        <div class="angular-google-map-container col-md-4">
    
            <ui-gmap-google-map id="map" center='map.center' zoom='map.zoom' draggable='true'>
    
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
    
            </ui-gmap-google-map>
        </div>
    
    </div>