<div class="container">
    <h1>Edit Trip</h1>

    <div class="angular-google-map-container col-md-12">

        <ui-gmap-google-map id="map" center='map.center' zoom='map.zoom' draggable='true'>

            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>

        </ui-gmap-google-map>
    </div>

    <h4>Routes</h4>
    <div class='col-md-4'>
        <div id="routes_list" ng-show="routes.length" class="list-group">
            <a ng-repeat="route in routes" class="list-group-item" ng-click="saveToRouteList(route)">{{route.name}} {{route.rating}}</a>
        </div>
    </div>
    <div class="col-md-4">
        <h1>{{trip.area}}</h1>
        <h4>{{trip.googleMapsAddress}}</h4>
        <div ng-show="savedRoutes.length">
            <div class="form-group">
                <label for="trip-name">Edit Trip Name:</label>
                <input name="trip-name" type="text" placeholder="Trip Name" ng-model="trip.name">
            </div>
            <div class="form-group">
                <label for="trip-description">Edit Description:</label>
                <input name="trip-description" type="text" placeholder="Trip Description" ng-model="trip.description">
            </div>

            <!-- DATEPICKER -->
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                    ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <h4>Your Trip Routes:</h4>
            <ul>
                <li ng-repeat="route in savedRoutes" ng-model="routes">
                    <a>{{route.name}} {{route.rating}}, {{route.wall}}</a>
                    <button class='btn btn-danger btn-sm' ng-click="removeRouteFromSavedRoutes($index, route)">X</button>
                </li>
            </ul>
            <button class="btn btn-success" ng-click="createTrip(trip, savedRoutes, dt)">Update</button>
        </div>
    </div>

</div>