<div class="col-sm-3 col-lg-2">
    <div class="container background_container add_container_shadow">
        <h1>Edit Trip</h1>
        <div class="text-center">
            <h1 ng-show="routes.length">{{area}}</h1>
            <h1 ng-show="updateHeadingBeforeUserClicksMarker">Click a Marker to Find Routes</h1>
            <h4>{{address}}</h4>
        </div>

        <div class="angular-google-map-container col-md-12">

            <ui-gmap-google-map id="map" center='map.center' zoom='map.zoom' draggable='true'>

                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>

            </ui-gmap-google-map>
        </div>

        <h4>Routes</h4>
        <div class='col-md-6'>
            <div class="places_and_routes_list" ng-show="routes.length" class="list-group">
                <a ng-repeat="route in routes | orderBy: 'name'" ng-class="{'disabled': route.disabled}" class="list-group-item" ng-click="saveToRouteList(route)">{{route.name}} {{route.rating}}</a>
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{trip.area}}</h1>
            <h4>{{trip.googleMapsAddress}}</h4>
            <div ng-show="savedRoutes.length">
                <div class="form-group">
                    <label for="trip-name">New Name:</label>
                    <input class="form-control" name="trip-name" type="text" placeholder="Trip Name" ng-model="trip.name">
                </div>
                <div class="form-group">
                    <label for="trip-description">New Description:</label>
                    <input class="form-control" name="trip-description" type="text" placeholder="Trip Description" ng-model="trip.description">
                </div>

                <!-- DATEPICKER -->
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                <h4>Your Trip Routes:</h4>
                <ul>
                    <li ng-repeat="route in savedRoutes" ng-model="routes">
                        <a>{{route.name}} {{route.rating}}, {{route.wall}}</a>
                        <a class='trash_float' ng-click="removeRouteFromSavedRoutes($index, route)">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="createTrip(trip, savedRoutes, dt)">Update</button>
            </div>
        </div>

    </div>