app.constant("FIREBASE_CONFIG", {
    apiKey: "your_key",
    authDomain: "",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
  });

app.constant( "GOOGLEMAPS_CONFIG", "your_key" );
app.constant("MOUNTAINPROJ_CONFIG", 'your_key');
app.constant("GOOGLEPLACES_CONFIG", 'your_key');